header {
    text-align: center;
}

body{ 
    background-image: url(panjinda-unsplash.jpg);
}

.container {
    margin: 3rem auto;
}

.btn {
    height: 38px;
    background-color: #ccc;
}

h1 {
    padding: 20px;
    font-weight: bold;
}

h2 {
    display: inline;
}

#currentIcon {
   display: inline;
}

#uv {
    margin-left: 1rem;
    /* background-color: white; */
    padding: 1px 8px;
    /* curves the edges of the element */
    border-radius: 5px;
}

#fiveDayFore {
    padding-top: 2rem;
}

.card {
    display: inline-block;
    text-align: left;
    background: #ccc ;
    
}

#credit{
    float: right;
    font-weight: bold;
    font-size: .75rem;
}

a {
    color: inherit;
}

footer {
    position: fixed;
    right: 0;
    bottom: 0;
}