header {
    text-align: center;
}

body{ 
    background-image: url(panjinda-unsplash.jpg);
}

.container {
    margin: 3rem auto;
}

.btn {
    height: 38px;
}

h1 {
    padding: 20px;
    font-weight: bold;
}

h2 {
    display: inline;
}

#currentIcon {
   display: inline;
}

#uv {
    margin-left: 1rem;
    background-color: white;
    padding: 1px 8px;
    /* curves the edges of the element */
    border-radius: 5px;
}

.card {
    display: inline-block;
    margin: 1rem 1rem 2rem 0;
    padding: 0 2rem 1rem 0;
    text-align: left;
    background: #ccc ;
    width: 20%;
    height: 35%;
}

#credit{
    float: right;
    font-weight: bold;
    font-size: .75em;
}